<h1><%=@post.title%></h1>
<p>By <%=link_to @post.user.name, @post.user%></p>
<p><%=@post.created_at%></p>
<p><%=@post.content%></p>
<p><%= @post.vote_count %></p>
<% if @post.user == current_user %>
  <%= link_to "Delete Post", post_path(@post), :method => :delete %>
  <%= link_to "Edit Post", edit_post_path(@post) %>
<% end %>
<%= render :partial => "votes/post_vote" %>
<div id = "comments">
<h2>Comments</h2>
<% @post.comments.each do |comment|  %>
  <%= render :partial => "comments/comment", locals: {:@comment => comment} %>
<% end %>
</div>
<% if current_user %>
<h3>New Comment</h3>
  <ul>
    <%= form_for [@post, Comment.new], remote: true do |f| %>
    <li><%= f.label "Content" %></li>
    <li><%= f.text_field :content %></li>
    <%= f.submit %>
    <% end %>
  </ul>
<% else %>
  <p>You must be logged in to comment!</p>
<% end %>
